.subgrid {
  grid-column: screen; 
  display: grid; 
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}

d-figure.base-grid {
  grid-column: screen;
  background: hsl(0, 0%, 97%);
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

d-figure {
  margin-bottom: 1em;
  position: relative;
}

d-figure > figure {
  margin-top: 0;
  margin-bottom: 0;
}

.shaded-figure {
  background-color: hsl(0, 0%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 30px 0;
}

.pointer {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 26px;
  left: -48px;
}

d-title {
  grid-template-columns: 1fr;
  margin-left: 15%;
  margin-right: 15%;
}

d-title h1 {
  grid-column: auto;
}

.hide {
  display: none;
}

.custom-article {
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
}

d-article > * {
  grid-column: auto;
  margin-right: 10px;
}

.highlight {
  background-color: red;
  border-style: dotted;
  border-width: 2px;
  border-color: red;
  
  color: white;
  font-weight: bold;
}

.highlight:hover {
  color: black;
  background-color: yellow;
  cursor: pointer;
}

.italic {
  font-style: italic;
}

img {
  width: 100%;
}

d-byline .authors-affiliations {
  grid-column-end: span 4;
  grid-template-columns: 1fr 1fr;
}

.btn-group {
  margin-bottom: 10px;
}

.gist {
  width: 100%;
}





.menu {
  width: 120px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: none;
  background-color: black;
  color: white;
}

.menu-options {
  list-style: none;
  padding: 10px 0;
}

.menu-option {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}

.menu-option:hover {
  background: rgb(173, 237, 8);
  cursor: pointer;
}